body{
    background-image: url(bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
 
  }
 
  .bird{
    width: 200px;
    position: absolute;
    left: 20%;
    top: 10%;
    /* forwards */
    animation: birdAnim 5s infinite;
    /* animation-timing-function: linear; */
  }
  .bird img{
    width: 100%;
  }
 
  @keyframes birdAnim{
    0%{
      left: 0%;
      transform: rotate(45deg);
    }
    30%{
      left: 20%;
      top: 70%;
      transform: rotate(-360deg);
    }

    50%{
        left: 50%;
        top: 20%;
        transform: rotate(-360deg);
      }

      70%{
        right: 70%;
        top: 60%;
        transform: rotate(-45deg);
      }
    100%{
      left: 100%;
    }
  } 